.cardImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  border: 0 !important;
}

.extraDetails {
  display: none;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 1) 60%
  );
  width: 100%;
  margin: 0;
  padding: 0;
  .extraData {
    p {
      font-size: 1.7em;
      font-weight: 100 !important;
    }
    span {
      position: relative;
      top: -10px;
      font-weight: 100 !important;
    }
  }
}
.cardImage :hover {
  .extraDetails {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 10px;
    height: 400px;
  }
}
.cardImage::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 9;
  border-radius: 10px;
  height: 100px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 1) 60%
  );
}
.content1 {
  position: absolute;
  bottom: 0;
  color: #fff;
  border-radius: 10px;
  z-index: 99;
  padding: 1rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 1) 60%
  );
}
.btnView {
}
.button {
  display: block;
  z-index: 9999;
  box-sizing: border-box;
  width: 0;
  height: 36px;
  border-style: solid;
  border-width: 18px 0 18px 30px;
  border-color: transparent transparent transparent #078c45;
  cursor: pointer;
  will-change: border-width;
  transition: all 0.2s ease;
  margin: 0 1rem;

  &.paused {
    border-style: double;
    border-width: 0px 0 0px 30px;
    height: 30px;
    border-color: transparent transparent transparent #8c0707;
  }

  &:hover {
    border-color: transparent transparent transparent #404040;
  }
}
