  .dashboard-container {
    position: fixed;
    top: 4;
    left: 4;
    width: 9%; /* or adjust as needed */
    height: 105vh; /* or adjust as needed */
    overflow-y: false; /* enable scrolling if the content is taller than the container */
    z-index: 1; /* adjust the z-index to ensure it appears above other elements */
  }

  /* Styles for Start button */
.btn-start {
  /* Green color */
  background-color: green;
  /* Add other styles as needed */
}

/* Styles for Stop button */
.btn-stop {
  /* Red color */
  background-color: red;
  /* Add other styles as needed */
}
