:root { 
    --gray_50_01:#fbfbfb; 
    --white_A700_7e:#ffffff7e; 
    --indigo_900_7e:#19317b7e; 
    --light_blue_100:#a2eeff; 
    --light_green_A700:#23ff00; 
    --gray_100_6c:#f0f3f96c; 
    --black_900_3f:#0000003f; 
    --green_A700:#00ce08; 
    --black_900_00:#00000000; 
    --indigo_A700_01:#2d54dd; 
    --indigo_A700_03:#1739ff; 
    --black_900_84:#00000084; 
    --indigo_A700_02:#2d55db; 
    --gray_200_01:#f0f0f0; 
    --blue_gray_900_02:#2d2d2d; 
    --blue_900_01:#083fa9; 
    --gray_200_02:#eaeaea; 
    --blue_gray_900_01:#2c2c2c; 
    --blue_gray_900:#2f3035; 
    --red_A700:#fd0000; 
    --gray_600:#828386; 
    --black_900_4c:#0000004c; 
    --blue_900:#001fd6; 
    --gray_400:#c6c6c6; 
    --indigo_A700_7e:#2d54dd7e; 
    --blue_gray_100:#d3d3d3; 
    --gray_100_7f:#f3f3f37f; 
    --blue_gray_300:#8893b9; 
    --indigo_A700_04:#1738ff; 
    --gray_200:#e8e8e8; 
    --indigo_A700:#2c56dc; 
    --gray_100_01:#f0f3f9; 
    --red_A700_01:#ff0000; 
    --white_A700:#ffffff; 
    --blue_gray_300_19:#8793b819; 
    --white_A700_5e:#ffffff5e; 
    --light_blue_A400:#00b0fc; 
    --blue_A700:#0065fe; 
    --blue_gray_100_01:#d9d9d9; 
    --gray_50:#f6f8fb; 
    --white_A700_cc:#ffffffcc; 
    --black_900:#000000; 
    --gray_500_01:#929292; 
    --gray_500_02:#939393; 
    --gray_200_66:#f0f0f066; 
    --gray_100_90:#f0f3f990; 
    --gray_900_02:#252525; 
    --gray_700:#666666; 
    --gray_500:#989898; 
    --blue_gray_400:#8c8c8c; 
    --blue_800:#0039d8; 
    --indigo_50:#e1e5f3; 
    --gray_900:#231f20; 
    --gray_900_01:#121212; 
    --blue_600:#349ad1; 
    --gray_300:#dce0ed; 
    --blue_gray_100_8a:#d3d3d38a; 
    --gray_100:#f3f3f3; 
    --white_A700_87:#ffffff87; 
    --black_900_33:#00000033; 
    --indigo_A400:#3f64e1; 
    --indigo_900:#19317b; 
    --gray_200_33:#f0f0f033; 
    }