/* Add your existing styles here */

.horizontal {
    display: flex;
    flex-direction: row;
  }
  
  .vertical {
    display: flex;
    flex-direction: column;
  }
  
  .camera-added {
    height: 200px; /* Adjust the value as needed */
    width: 300px; /* Adjust the value as needed */
  }
  
  .no-camera-added {
    height: 100px; /* Adjust the value as needed */
    width: 300px; /* Adjust the value as needed */
  }
  
  /* Add any additional styles for your live camera here *//* Additional styles for live camera display */
.camera-details-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.camera-details-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 15px; /* Adjust the value to change the roundness */

}

.overlay-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 170%; /* Adjusted to cover the entire image */
  background: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 11)); /* Use a gradient for fading effect */
  color: white;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  
}

.camera-details-container:hover .overlay-details {
  opacity: 1; /* Show overlay on hover */
  
}
.overlay-details p {
  margin: 1px;
  font-size: 16px;
  /* Add any other styles for the overlay text */
}

  
  .live-camera {
    width: 10%; /* Adjust the value as needed */
    height: 10%; /* Adjust the value as needed */
    object-fit: cover; /* Adjust the value as needed */
  }

  .dashboard-container {
    position: fixed;
    top: 4;
    left: 4;
    width: 9%; /* or adjust as needed */
    height: 105vh; /* or adjust as needed */
    overflow-y: false; /* enable scrolling if the content is taller than the container */
    z-index: 1; /* adjust the z-index to ensure it appears above other elements */
  }

  .blurred {
    filter: blur(5px); /* Add your preferred blur amount */
  }
  
  .blurred-image {
    filter: blur(5px); /* Add the same blur amount as above */
  }
  
  .overlay-off {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
  }
  