/* styles.css */

.carousel-content {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .custom-arrow {
    position: absolute;
    bottom: 18%;
    /* transform: translateX(30%); */
    right: 30%;
    background-color: #ffffff;
    color: #000;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    display: block;
    width: 25px;
    height: 25px;
    font-weight: bold;


    &::after {
      content: ">";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .prev {
    right: 33%;
    z-index: 99;
    &::after {
      content: "<";
      font-size: 1rem;
    }
  }
  