.rounded-box {
  border: 1px solid #eeeeee;
  border-radius: 25px;
  padding: 13px; /* Adjust the padding to increase height */
  margin-bottom: 10px; /* Adjust the margin-bottom to increase space between boxes */
  cursor: pointer;
}.rounded-box.selected {
  background-color: rgb(199, 199, 199); /* Change the background color to indigo when selected */

}